node_modules
*.js
!web-test-runner.config.js
!commitlint.config.js
*.css
*-styles.ts
*.map
*.d.ts
!types/*.d.ts
.wireit/
*.tsbuildinfo
!.storybook/*.js
!custom-elements-manifest.config.js
!test-runner.config.js

## editors
/.idea
/.vscode

## build artifacts
dist
build
coverage
storybook-static

