node_modules
*.js
*.css
*-styles.ts
*.map
*.d.ts


!scripts/*
!web-test-runner.config.js
!commitlint.config.js
!eslint.config.js
!web-test-runner.config.js
!.storybook/*.js
!custom-elements-manifest.config.js
!test-runner.config.js

## editors
/.idea
/.vscode

## build artifacts
!types/*.d.ts
*.tsbuildinfo
.wireit/
dist
build
coverage
storybook-static

